@model SIV_Pokemons_LL.Business.Models.DTO.PokemonDTO;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvolutionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvolutionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvolveFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvolveFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvolveTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvolveTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvolveWith)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvolveWith)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type1Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type1Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type2Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type2Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
